.aboutMain {
  position: relative;
  background-color: #111827;
  color: #fce8e8;
  padding-top: 40px;
  width: 100%;
  height: auto; /* Allow the height to adjust automatically */
}

.aboutMain::before,
.aboutMain::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(to bottom, #6b7280 0%, transparent 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.aboutMain::after {
  background: linear-gradient(to bottom, #d1d5db 0%, transparent 100%);
  opacity: 0.5;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px;
  background-color: #111827;
  color: #fff;
}

.expSection {
  margin: 10px 0;
}

.description {
  max-width: 48%;
  color: #F4F5F7;
  font-size: 14px;
}

.imageContainer {
  max-width: 48%;
}

.imagediv {
  position: relative;
  width: 100%;
  height: auto;
}

.aboutImg {
  border-radius: 8px;
  object-fit: cover;
  width: 100% !important;
  height: auto !important;
}

.expDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h3 {
  margin-top: 20px;
  color: #fce8e8;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .description, .imageContainer {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .expDiv {
    justify-content: space-between;
  }

  .imagediv {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .description, .imageContainer {
    padding: 10px;
    max-width: 100%;
  }

  .expDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .expSection {
    margin: 5px 0;
  }
}
