.skills {
}

.heading {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.horizontal-line {
  border: 0;
  border-top: 1px solid #080808; /* Adjust color and thickness as needed */
  margin: 20px 0; /* Adjust margins as needed */
}

.cardContainer {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
}

@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}
.contactFormDiv{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111827;
  color: #fff;
  padding: 20px;
}
.contactForm {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111827;
  color: #fff;
  /* padding: 20px; */
  width: 100%;
  max-width: 600px; /* Increased the width */
  border-radius: 0;
}

.formRow {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fullWidthGroup {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  background-color: #fff;
  border-radius: 0;
}

.required {
  color: red;
}

.submitButton {
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}
