.skills {
    padding: 20px;
    /* background-color: #f5f5f5; */
  }
  
  .heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
  }
  .horizontal-line {
    border: 0;
    border-top: 1px solid #080808; /* Adjust color and thickness as needed */
    margin: 20px 0; /* Adjust margins as needed */
  }
  
  .cardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  }
  
  @media (max-width: 1024px) {
    .cardContainer {
      grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      grid-template-columns: 1fr; /* Single column for smaller screens */
    }
  }
  


  .contactForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formRow {
    display: flex;
    width: 100%;
    max-width: 500px;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    flex: 1;
  }
  
  .fullWidthGroup {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .submitButton {
    margin-top: 20px;
  }
  